.sidebar {
    background-color: white;
    border-color: black;
    overflow: hidden;
    height: 100%;
    border-width: 1px;
    min-width: 0px;
}

sidebar_button {
    background-color: black;
    overflow: hidden;
}